
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.display-flex{
    display: flex;
}
.text-primary{
    color: #FF900E;
}
/* dark-2 */
.text-gray{
    color: #424242;

}
/* dark-3 */
.text-light-gray{
    color: #727272;

}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.2em;
    border: none;
}

.section-tittle{
    font-weight: 700;
    font-size: 4rem;
}
.fact-number{
    font-weight: 500;
    font-size: 3rem;
}
.fact-name{
    font-weight: 500;
    font-size: 1.25rem;
    color: #727272;
}
.main{
    max-width: 1440px;
    margin: 0 auto;
}

/* header styles */
/* navbar related style */
.nav-bar{
    justify-content: space-between;
}
.nav-item{
   list-style: none;
   margin-right: 30px;

}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    
}
.nav-bar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */
.banner-content{
    max-width: 862px;
    justify-content: center;
    text-align: center;
    margin: 0  auto;
    margin-bottom: 20px;}


.banner-descripton{
    font-size: 1.25rem;
}
.banner-image{
    width: 100%;
}
/* feature related styles */
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.team{
    align-items: center;
}
.our-features{
    margin-left: 130px;
    max-width: 537px;
}
.feature-tittle{
    font-size: 2.8rem;
    font-weight: 700;
}
#quick-list{
    font-weight: 500;

}
/* feature will enjoy */
.feature-image{
    width: 
}
.fact-card{
    max-width: 15rem;
    max-height: 15rem;
    border: 1px solid #FF900E;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
}

.fact-discription{
    max-width:542px ;
}
/* sponsor related styles */

.sponsors-info{
    max-width:540px ;
    margin: 50px auto;
    text-align: center;
}
.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsors-companies img{
    filter: grayscale(100%);
}

/* footer related styles */
.footer{
    max-width: 1440px;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin: 130px auto;
    text-align: center;
}





/* .responsive media quarry */
@media screen and (max-width:576px) {
    .nav-bar,
    .nav-links,
    .team
    
    {
        flex-direction: column;

    }
    .team-img-container,
    .facts-container, 
    .sponsors-companies
    {
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-container{
        margin-top: 20px;
        justify-items: center;
        gap: 1.35rem;
        
    }
    .feature-image{
        width: 0 auto;
    }
    .our-features{
        margin-left: 20px;
    }
    .sponsors-companies{
        gap: 3rem;
        justify-items: center
    }


}
/* media quarry for medium device */
@media screen and (min-width:576px) and (max-width:992px)  {
    .team{
        flex-direction: column;
    }
    .our-features{
        margin-left: 20px ;
    }
    .sponsors-companies,
    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        justify-items: center;
    }
    .some-facts{
        justify-items: center;
    }
}